.modalContainer {
  width: 720px;
  height: fit-content;
  border-radius: 40px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  background-color: #1C1C21;
}

.upperPanel {
  width: 640px;
  min-height: 64px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.closeButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}