.cardContainer {
  width: 272px;
  height: 209px;
  position: relative;
  cursor: pointer;
  border-radius: 30px;
}

.cardContainer:hover {
  background-color: rgba(114, 117, 119, 0.178);
}

.cardContainerMoving {
  opacity: 0;
}

.counter {
  position: absolute;
  top: 0;
  right: 0;
}

.cardImage {
  width: 240px;
  height: 120px;
}

.priceContainer {
  margin: 0 auto;
  width: fit-content;
  min-height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: white;
}